.primary-color {
	-fx-background-color : #13123A;
}

.secondary-color {
	-fx-background-color : #0F0D2F;
}

.button{
	-fx-background-color : #242551;
	-fx-background-radius : 30;
}

.text-input {
	-fx-background-color : rgba(0,0,0,0);
	-fx-border-width : 0 0 1 0;
	-fx-border-color : #242551;
}

.applicationCard{
	-fx-border-color : #242551;
	-fx-background-radius : 30;
	-fx-border-radius: 10;
}

.fileComp{
	-fx-border-radius: 10;
}
.fileComp:hover{
	-fx-background-color : rgba(0,0,0,0.2);
	-fx-cursor: hand;
}

.textWhite{
	-fx-text-fill: white;
}